<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>思い出のゲームを共有しませんか？</h1>
          <% unless user_signed_in? %>
            <%= link_to 'MYGAMEを始める', new_user_registration_path, class: "btn btn-success btn-lg" %>
          <% end %>  
      </div>
    </div>
  </div>
<% end %>

<%= render 'posts/posts', posts: @posts %>