<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>思い出のゲームを共有しませんか？</h1>
        <%= link_to 'MYGAMEを始める', new_user_registration_path, class: "btn btn-success btn-lg" %>
      </div>
    </div>
  </div>
<% end %>

<p>テスト</p>